---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Intro from '../components/Intro.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Portfolio - Abhishek Prashant">
	<Navbar />
	<main>
		<Intro />
		<AboutMe />
		<Experience />
		<Contact />
	</main>
</Layout>
<script>
	window.scrollTo({
		top: 0
	})
	const bottomSections = Array.from(document.querySelectorAll("section[id$=Section]")).slice(1)
	bottomSections.forEach(bottomSection => {
		const observer = new IntersectionObserver((entries, obs) => {
			if (entries[0].isIntersecting) {
				bottomSection.classList.add("revealed")
				obs.disconnect()
			}
		}, {
			threshold: 0.6
		})
		observer.observe(bottomSection)
	})
</script>
<style>
	main {
		margin: auto;
		max-width: 1000px;
		padding: var(--contentHorizontalSpacing);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
