---
import Svg from '@jasikpark/astro-svg-loader'

const SOCIALS = [
    {
        icon: import('../images/mail.svg?raw'),
        link: "mailto:abhishekprashant09@gmail.com",
        alt: "Mail"
    },
    {
        icon: import('../images/twitter.svg?raw'),
        link: "https://twitter.com/The1WhoIsMany",
        alt: "Twitter"
    },
    {
        icon: import('../images/linkedin.svg?raw'),
        link: "https://linkedin.com/in/abhishek-prashant-92b152a9",
        alt: "Linkedin"
    },
    {
        icon: import('../images/github.svg?raw'),
        link: "https://github.com/t3chcrazy",
        alt: "Github"
    }
]
---
<section id = "contactSection" class = "fullHeightSection">
    <h3>Happy to connect!</h3>
    <h1>Get in touch</h1>
    <ul class = "socialsList">
        {SOCIALS.map(social => (
            <li>
                <a href = {social.link} target = "_blank">
                    <Svg
                        src = {social.icon}
                        aria-label = {social.alt}
                    />
                </a>
            </li>
        ))}
    </ul>
</section>
<style>
    #contactSection {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        column-gap: 10px;
    }
    li, li svg {
        width: 25px;
        height: 25px;
    }
    li, li svg {
        transition: 0.25s all;
    }
    li:hover {
        transform: translateY(-5px);
    }
    li:hover svg {
        fill: var(--brand-green);
    }
    h3 {
        font-size: 24px;
    }
    h1 {
        font-size: 48px;
        color: var(--secondary);
        margin-top: 20px;
        margin-bottom: 40px;
    }
</style>