---
import JobCard from "./JobCard.astro";

const JOBS = {
    "Qlik": {
        tenure: "July 2024 - Present",
        designations: [
            {
                title: "Fullstack Software Developer",
                responsibilities: [
                    "Worked on new home experience flow which simplified customer actions significantly and improved customer efficiency",
                    "Worked on an innovative new product which allow users to view AI generated insights based on users data",
                    "Handled legacy code issues and upgrades, KMS key migration and implemented fixes in CI Pipeline which decreased release time by 30%"
                ]
            }
        ],
        skillsUsed: ["React", "TypeScript", "Node.js", "Vitest", "Adaptive Cards", "Design system", "Microfrontends", "Golang"]
    },
    "Hwayz": {
        tenure: "Oct 2023 - June 2024",
        designations: [
            {
                title: "Senior Software Engineer",
                responsibilities: [
                    "Spearheaded the development of multiple consumer facing apps with React Native and internal dashboards with React, which drastically increased revenue, consumer retention and revenue monitoring",
                    "Developed a restaurant order taking KOT system, which facilitated rapid and efficient order taking at offline restaurants, and implemented a kitchen display system (KDS) which helped with accurate order status management.",
                    "Implemented native module for our customer facing React Native app like OTP auto read, integrated Firebase, Google Maps SDK and Juspay’s Hyper SDK For Payments."
                ]
            }
        ]
    },
    "ShopSe": {
        tenure: "Oct 2020 - Sept 2023",
        designations: [
            {
                title: "Senior Software Engineer",
                responsibilities: [
                    "Collaborated with designers to create pixel perfect UI from figma",
                    "Interacted with product managers to understand and implement business requirements",
                    "Worked on lending flows for numerous banks and NBFCs which generated significant revenue"
                ]
            },
            {
                title: "Web Developer",
                responsibilities: [
                    "Worked on existing checkout flow and implemented bug fixes, increasing successful transaction conversions",
                    "Revamped consumer and merchant apps made with React-Native, and implemented new features to improve user growth",
                    "Created complex forms for loan onboarding flows, created reusable form schemas, which increased producitivity"
                ]
            }
        ],
        skillsUsed: ["React", "React-Native", "Material-UI", "Bootstrap", "Native Modules", "Jenkins", "Figma", "Google APIs"]
    },
    "Sabertooth Technologies": {
        tenure: "Apr 2020 - Oct 2020",
        designations: [
            {
                title: "Junior Web Developer",
                responsibilities: [
                    "Solely created multiple react native prototype projects for demonstration purposes",
                    "Worked on a pharmacy inventory management app built with Flutter from scratch"
                ]
            }
        ],
        skillsUsed: ["React-Native", "Bootstrap", "Flutter"]
    },
    "ProSavinns": {
        tenure: "Oct 2019 - Mar 2020",
        designations: [
            {
                title: "Web Developer",
                responsibilities: [
                    "Worked on initial landing page and existing stores list view page",
                    "Woked on initial react-native app, integrated google maps to show list of associated merchants"
                ]
            }
        ],
        skillsUsed: ["React-Native", "Flask", "HTML", "CSS", "Google APIs"]
    },
}
---
<section id = "experienceSection">
    <h1 class = "sectionHeader">Experience</h1>
    {Object.keys(JOBS).map((company, index) => (
        <JobCard
            companyName = {company}
            companyDescription = {JOBS[company]}
            isActive = {index === 0}
        />
    ))}
</section>