<footer>
    <h3>Made with code by Abhishek Prashant</h3>
</footer>
<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
</style>