<section id = "introSection" class = "fullHeightSection">
    <div class = "slideWrapper">
        <h2>Hey there! 👋</h2>
    </div>
    <div class = "slideWrapper">
        <h1>I am Abhishek Prashant</h1>
    </div>
    <div class = "slideWrapper">
        <h2>A <span class = "text-gradient">software engineer</span> by profession</h2>
    </div>
</section>
<style>
    #introSection {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @keyframes revealHeader {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .slideWrapper:first-child > h2 {
        color: var(--primary);
    }
    .slideWrapper {
        overflow-y: hidden;
        position: relative;
    }
    .slideWrapper > h1, h2 {
        animation: revealHeader 0.65s forwards cubic-bezier(0.645,0.045,0.355,1);
        transform: translateY(-100%);
    }
    .slideWrapper:first-child h2 {
        animation-delay: 600ms;
    }
    .slideWrapper h1 {
        font-size: clamp(30px, 7vw, 70px);
        color: var(--secondary);
        animation-delay: 700ms;
    }
    .slideWrapper:last-child h2 {
        animation-delay: 800ms;
    }
</style>