---
import Svg from '@jasikpark/astro-svg-loader'
---
<nav id = "navbar">
    <h1>
        <a href = "#introSection">AP</a>
    </h1>
    <ul id = "nav-buttons">
        <li><a class = "underlineLink" href = "/#aboutMeSection">About</a></li>
        <li><a class = "underlineLink" href = "/#experienceSection">Experience</a></li>
        <li><a class = "underlineLink" href = "/#projects">Projects</a></li>
        <li><a  class = "underlineLink"href = "/#contactSection">Contact</a></li>
        <li><a class = "underlineLink" href = "/resume.pdf">Resume</a></li>
    </ul>
    <button id = "menu">
        <Svg
            src = {import("../images/hamburger-menu.svg?raw")}
            aria-label = "Menu"
        />
    </button>
</nav>
<script>
    const navbar = document.getElementById("navbar")
    const menu = document.getElementById("menu")
    const navList = document.getElementById("nav-buttons")
    let lastPosition = 0
    let ticking = false
    document.addEventListener("scroll", e => {
        if (!ticking) {
            requestAnimationFrame(() => {
                if (window.innerWidth >= 768) {
                    if (window.scrollY-lastPosition > 0) {
                        navbar.classList.add("hidden")
                    }
                    else {
                        navbar.classList.remove("hidden")
                }
                }
                else {
                    navbar.classList.remove("hidden")
                }
                lastPosition = window.scrollY
                ticking = false
            })
            ticking = true
        }
    })
    menu.addEventListener("click", () => {
        navList.classList.toggle("revealed")
    })
</script>
<style>
    :root {
        --menu-size: 40px;
    }
    h1 > a {
        text-decoration-style: none;
        color: var(--primary);
        text-decoration-line: none;
    }
    #navbar {
        display: flex;
        z-index: 100;
        justify-content: space-between;
        backdrop-filter: blur(10px);
        align-items: center;
        max-height: var(--nav-height);
        background-color: #F6F6F6;
        padding: var(--contentHorizontalSpacing);
        transition: transform 0.25s cubic-bezier(0.645,0.045,0.355,1);
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
    }
    #navbar.hidden {
        transform: translateY(calc(-1 * var(--nav-height)));
    }
    #nav-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0;
    }
    #nav-buttons li {
        list-style: none;
        position: relative;
    }
    #nav-buttons li a {
        display: block;
        animation: reveal 1s forwards;
        animation-timing-function: cubic-bezier(0.645,0.045,0.355,1);
        text-decoration: none;
        transform: translateY(-50px);
        color: var(--brand-green);
    }
    #nav-buttons li:nth-child(2) > a {
        animation-delay: 100ms;
    }
    #nav-buttons li:nth-child(3) > a {
        animation-delay: 200ms;
    }
    #nav-buttons li:nth-child(4) > a {
        animation-delay: 300ms;
    }
    #nav-buttons li:nth-child(5) > a {
        animation-delay: 400ms;
    }
    #menu {
        display: none;
    }
    @keyframes reveal {
        0% {
            transform: translateY(-50px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    @media only screen and (max-width: 768px) {
        #menu {
            z-index: 100;
            width: var(--menu-size);
            height: var(--menu-size);
            display: flex;
            place-items: center;
            border-radius: 50%;
            cursor: pointer;
            z-index: 100;
            border: none;
            background: none;
        }
        #menu svg {
            width: 40px;
            height: 40px;
        }
        #nav-buttons {
            position: fixed;
            background-color: #F6F6F6;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            right: 0;
            top: 0;
            height: 100vh;
            width: 50%;
            flex-flow: column;
            transform: translateX(100vw);
            transition: 0.25s all;
            padding-top: calc(var(--menu-size) + 20px) !important;
            margin: 0;
        }
        #nav-buttons.revealed {
            transform: translateX(0)
        }
    }
</style>