---
const { delay, role = "div", translateY } = Astro.props
---
<div class = "reveal" role = {role}>
    <slot />
</div>
<style define:vars={{ delay, translateY }}>
    .reveal > * {
        display: block;
        animation: reveal 1s forwards;
        animation-timing-function: cubic-bezier(0.645,0.045,0.355,1);
        transform: translateY(var(--translateY));
        animation-delay: var(--delay);
    }
    @keyframes reveal {
        0% {
            transform: translateY(var(--translateY));
        }
        100% {
            transform: translateY(0px);
        }
    }
</style>