---
export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<meta name="title" content="Portfolio - Abhishek Prashant">
		<meta name="description" content="Software Engineer experienced with React, React-Native">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://t3chcrazy.github.io/">
		<meta property="og:title" content="Portfolio - Abhishek Prashant">
		<meta property="og:description" content="Software Engineer experienced with React, React-Native">
		<meta property="og:image" content="favicon.svg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://t3chcrazy.github.io/">
		<meta property="twitter:title" content="Portfolio - Abhishek Prashant">
		<meta property="twitter:description" content="Software Engineer experienced with React, React-Native">
		<meta property="twitter:image" content="favicon.svg">
		<meta name="keywords" content="Software Developer,Abhishek Prashant,React,React-Native,Flutter">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<meta name="author" content="Abhishek Prashant">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--nav-height: 100px;
		/** Theme */
		--brand-green: #16a085;
		--primary: #34495e;
		--secondary: #7f8c8d;
		--contentHorizontalSpacing: 0 50px;
	}
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
	h1.sectionHeader {
		margin: 30px 0 40px;
		padding-right: 20px;
		position: relative;
		z-index: 2;
		background-color: #F6F6F6;
		display: flex;
		align-items: center;
		color: var(--primary);
	}
	h1.sectionHeader::after {
		content: " ";
		display: block;
		position: relative;
		height: 1px;
		width: 50%;
		background-color: var(--secondary);
		margin-left: 10px;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
		scroll-behavior: smooth;
		color: var(--primary);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.fullHeightSection {
		min-height: 100vh;
		padding: 2rem 0;
	}
	a.underlineLink {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: var(--brand-green);
	}
	a.underlineLink::after {
        content: " ";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: var(--brand-green);
        bottom: -2.5px;
        left: 0;
        transition: width 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
    a:hover::after {
        width: 100%;
    }
	section[id$='Section']:not(:first-child) {
		opacity: 0;
		transform: translateX(-50px);
		transition: 0.5s all;
	}
	section[id$='Section']:not(:first-child).revealed {
		transform: translateX(0px);
		opacity: 1;
	}
	@media only screen and (max-width: 768px) {
        :root {
            --contentHorizontalSpacing: 0 35px;
        }
    }
    @media only screen and (max-width: 576px) {
        :root {
            --contentHorizontalSpacing: 0 25px;
        }
    }
</style>
